.holder{
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.calculator{
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:100;
  box-sizing: border-box;
  border: 1px solid black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
